annotated-types==0.6.0
appnope==0.1.3
aspose-cells==23.9.0
asttokens==2.2.1
attrs==23.1.0
autoprop==4.1.0
backcall==0.2.0
bayesian-optimization==1.5.0
bel-resources==0.0.3
bioregistry==0.10.55
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
click-plugins==1.1.1
cloudpickle==2.2.1
cma==3.3.0
colorama==0.4.6
comm==0.1.4
contourpy==1.1.0
curies==0.6.4
cycler==0.11.0
Cython==3.0.10
debugpy==1.6.7.post1
decorator==5.1.1
drake==1.12.0
executing==1.2.0
Farama-Notifications==0.0.4
filelock==3.15.4
fonttools==4.42.0
fsspec==2024.6.1
glooey==0.3.6
gradescope-utils==0.5.0
gymnasium==0.29.1
h5py==3.9.0
humanize==4.8.0
idna==3.4
imageio==2.34.2
ipykernel==6.25.1
ipython==8.14.0
ipywidgets==8.1.3
jedi==0.19.0
Jinja2==3.1.4
joblib==1.4.2
JPype1==1.4.1
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab_widgets==3.0.11
kiwisolver==1.4.4
lazy_loader==0.4
manifold3d==2.5.1
manipulation==2024.6.29
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdurl==0.1.2
meshcat==0.3.2
meshio==5.3.5
modern-robotics==1.1.1
more-click==0.1.2
more-itertools==10.1.0
mpld3==0.5.10
mpmath==1.3.0
multisplitby==0.0.1
nest-asyncio==1.5.7
networkx==3.1
nevergrad==1.0.3
numpy==1.25.2
packaging==23.1
pandas==2.1.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
prompt-toolkit==3.0.39
psutil==5.9.5
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==2.4.2
pydantic_core==2.10.1
pydot==1.4.2
pydrake==0.2.1
pyglet==1.5.29
Pygments==2.16.1
pyngrok==6.0.0
pyparsing==3.0.9
pystow==0.5.0
python-dateutil==2.8.2
python-fcl==0.7.0.6
PyTrie==0.4.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
ratelimit==2.2.1
rdkit==2023.3.3
referencing==0.30.2
requests==2.31.0
requests-file==1.5.1
rich==13.7.1
rpds-py==0.10.4
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.11.2
signature_dispatch==1.0.1
six==1.16.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.21
stable_baselines3==2.3.2
stack-data==0.6.2
sympy==1.12.1
tabulate==0.9.0
threadpoolctl==3.5.0
tifffile==2024.7.2
timeout-decorator==0.5.0
torch==2.3.1
torchvision==0.18.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
trimesh==4.1.8
typeguard==3.0.2
typing_extensions==4.8.0
tzdata==2023.3
u-msgpack-python==2.8.0
urllib3==2.0.4
vecrec==0.3.1
vhacdx==0.0.8.post1
wcwidth==0.2.6
widgetsnbextension==4.0.11
xmltodict==0.13.0
